name: Playwright Tests
on: 
  schedule: 
   #runs every 15 minutes between Monday to Friday
   #- cron: "*/15 * * * 1-5"
   #runs every minute between Monday to Friday
   #- cron: "*  * * 1-5"

   #runs at 5:00 pm (colombian time) between monday to friday
   # Colombia is UTC-5, so 5:00 pm colombian time is 10:00 pm UTC
   - cron: "0 22 * * 1-5"
  
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  playwright:
    name: 'Playwright Tests'
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.54.1-noble
      options: --user 1001
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install dependencies
        run: npm ci
      - name: Run your tests
        run: npx playwright test